.header-div {
  background-color: #0C0032;
}

.header-h1 {
  color: white;
  padding: 10px;
}

#cy {
  width: 300px;
  height: 250px;
  display: block;
  background-color: #cccccc;
  margin: 10px;
}

.header-float-right {
  float: right;
}

.file-btn {
  margin: 10px;
  padding: 0px;
}

.submit-btn {
  
}